body {
    background: url("images/background.png");
}

/* polaroid */
figure {
    border-radius: 10px;
    margin: 8px 0;
    border: 1px solid #777;
    padding: 15px;
    background-color: rgba(0, 0, 0, .2);
}
figure img {
    width: 100%;
}

/* funding panel */
.funding_panel {
    margin: 10px 0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .2);
    font-family: Varela Round;
    font-size: 30px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border: 1px solid #777;
}
input[type=number]{
    text-align: center;
    border-radius: 50%;
}
input[type=number]::-webkit-inner-spin-button {
    /* hide inner arrows */
    -webkit-appearance: none;
}
.fa-arrow-circle-right, .fa-arrow-circle-left {
    background: white;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.btn_funding {
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}
