<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'funding/style.css' %}">
</head>
<body>
        <div id="user_panel">
            <p><i class="fas fa-piggy-bank"></i> {{user.budget}}</p>
            <!-- <button id="btn_logout"><a href="/logout">Logout</a></button> -->
        </div>
{% if team_list %}
<div class="container text-center">
    <div class="col">
        <div id="intro_panel">
            <p>Welcome, {{ user }}!</p>
            <p>Please follow steps below to fund project.</p>
            <ul>
                <li>Step 1. Navigate this website, and find a project you want to fund.</li>
                <li>Step 2. Click <i class="fa fa-arrow-circle-left"></i> and <i class="fa fa-arrow-circle-right"></i> to decide the amount of funds.</li>
                <li>Step 3. Click <button class="btn_funding_intro" ><i class="fas fa-donate"></i></i> Fund</button> to fund the project</li>
            </ul><br>
            <p>Notice: Your budget is shown with <i class="fas fa-piggy-bank"></i> on left-hand side</p>
        </div>
    
        <div id="project_team_panel">
        {% for team in team_list %}
            <figure>
                <img src="{% static 'funding/images/'%}{{team}}.jpg" class="img-rounded" alt="Project Poster">
                <div class="funding_panel font-weight-bold">
                    {{team.project}}
                    <i class="fa fa-arrow-circle-left" onclick="this.nextElementSibling.stepDown()"></i>                    
                    <input type="number" id="team_fund" min=0 max="{{user.budget}}" value=0 readonly >
                    <i class="fa fa-arrow-circle-right" onclick="this.previousElementSibling.stepUp()"></i>
                    <button class="btn_funding" data-team-id="{{ team.id }}"><i class="fas fa-donate"></i> Fund</button>
                </div>
            </figure>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'funding/js/set_funding.js' %}"></script>
</body>
